@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #1b1b1a;
    font-family: 'Poppins', sans-serif;
    color:#e6e6e6;
}

::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}

::-webkit-scrollbar:hover {
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #2a2a2a;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: #141414;
    cursor: pointer;
}

.no-scrollbar{
    scrollbar-width: none;
    -ms-overflow-style: none;
}